.signup-container {
  display: flex;
}

.signup-image {
  flex: 1;
}

.signup-image img {
  opacity: 0.7;
}

.signUpFormDiv {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  font-weight: lighter;
  background-color: rgba(168, 161, 115, 0.1);
  color: #4c5059;
  border: 1px solid rgba(168, 161, 115, 0.2);
}

.signUpFormDiv h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.signUpFormDiv label {
  font-size: smaller;
  display: block;
  margin: 10px auto;
}

.signUpFormDiv input,
.signUpFormDiv textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid rgba(168, 161, 115, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.signUpFormDiv button {
  font-weight: bolder;
  padding: 10px;
  border: 1px solid rgba(168, 161, 115, 0.5);
  border-radius: 5px;
  margin: 20px auto 5px auto;
  background-color: rgba(168, 161, 115, 0.5);
  color: #4c5059;
  cursor: pointer;
}

.signUpFormDiv button:hover {
  background-color: rgba(168, 161, 115, 0.7);
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: #888;
  padding-left: 3px;
  padding-top: 0px;
}
