.signup-container {
  display: flex;
}

.signup-image {
  flex: 1;
}

.signup-image img {
  opacity: 0.7;
}

.signUpFormDiv {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  font-weight: lighter;
  background-color: rgba(168, 161, 115, 0.1);
  color: #4c5059;
}

.usernameLabel {
  vertical-align: baseline;
  font-size: small;
}

.passwordLabel {
  vertical-align: baseline;
  font-size: small;
}

.firstNameLabel {
  vertical-align: baseline;
  font-size: small;
}

.lastNameLabel {
  vertical-align: baseline;
  font-size: small;
}

.emailLabel {
  vertical-align: baseline;
  font-size: small;
}

.signupSubmitButton {
  /* margin: 15px auto 1px; */
  font-weight: bolder;
  padding: 5px;
  border: 1px solid rgba(168, 161, 115, 255);
  border-radius: 3px;
  margin: 20px auto 5px auto;
  background-color: rgba(168, 161, 115, 0.5);
}

/* Style the placeholder text */
input::placeholder {
  font-size: 12px;
  color: #888;
  padding-left: 3px;
  padding-top: 0px;
}
