/* Flash message styling */
.flash-message {
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 5px;
  width: 100%; /* Ensure the message spans the full width */
  display: flex;
  justify-content: center;
  position: absolute; /* Position the message absolutely */
  top: 3.8rem; /* Place the message 2rem from the top */
  left: 50%;
  transform: translateX(-50%); /* Center the message horizontally */
  z-index: 1000; /* Ensure the message is above other content */
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Container styling */
.profile-container {
  max-width: 400px; /* Match the width with sign-in and sign-up forms */
  margin: 3.7rem auto auto; /* Create space above the form */
  padding: 20px;
  border: 1px solid rgba(168, 161, 115, 0.2);
  border-radius: 5px;
  background-color: rgba(168, 161, 115, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styling */
.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form label {
  font-size: smaller; /* Match label size */
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-form input[type="text"],
.profile-form input[type="password"] {
  width: calc(100% - 20px); /* Adjust width to fit padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(168, 161, 115, 0.2);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.profile-form button,
.edit-button,
.liked-button {
  font-weight: bolder;
  padding: 10px;
  border: 1px solid rgba(168, 161, 115, 0.5);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 30%; /* Match button width */
  align-self: center;
}

.profile-form button {
  margin-top: 10px;
  background-color: rgba(168, 161, 115, 0.5);
  color: #4c5059;
}

.profile-form button:hover {
  background-color: rgba(168, 161, 115, 0.7);
}

.edit-button {
  background-color: #28a745;
  color: white;
}

.edit-button:hover {
  background-color: #218838;
}

.liked-button {
  background-color: #ff9800;
  color: white;
}

.liked-button:hover {
  background-color: #e68900;
}

/* Horizontal rule styling */
.hr {
  width: 30%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

/* Message styling */
.error-container {
  margin: auto;
  align-self: center;
}

.message {
  align-self: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
